{
    "semi": true,
    "singleQuote": true,
    "singleAttributePerLine": false,
    "htmlWhitespaceSensitivity": "css",
    "printWidth": 150,
    "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
    "importOrder": [
        "^vue$",
        "^@vueuse/(.*)$",
        "^@inertiajs/(.*)$",
        "^laravel-precognition-(.*)$",
        "^lucide-vue-next$",
        "^vue-sonner$",
        "^clsx$",
        "^tailwind-merge$",
        "^class-variance-authority$",
        "^reka-ui$",
        "^@/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "tailwindFunctions": ["clsx", "cn", "cva"],
    "tailwindStylesheet": "resources/css/app.css",
    "tabWidth": 4,
    "vueIndentScriptAndStyle": false,
    "overrides": [
        {
            "files": "**/*.yml",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": ["**/*.{js,ts,jsx,tsx,vue}"],
            "options": {
                "singleAttributePerLine": false,
                "htmlWhitespaceSensitivity": "ignore",
                "bracketSameLine": true,
                "printWidth": 150,
                "semi": true
            }
        }
    ]
}
